!!! XML
%container
  %rootfiles{:version => "1.0", :xmlns => "urn:oasis:names:tc:opendocument:xmlns:container"}
    %rootfile{"full-path" => "OEBPS/content.opf", "media-type" => "application/oebps-package+xml"}
