@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/merriweather-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "SourceSans";
  src: url("../fonts/sourcesanspro-regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SourceSans";
  src: url("../fonts/sourcesanspro-italic.otf");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "SourceSans";
  src: url("../fonts/sourcesanspro-bold.otf");
  font-weight: 700;
}

body {
  font-family: "Merriweather", serif;
  line-height: 100%;
  font-size: 1em;
}

p {
  widows: 2;
  orphans: 2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SourceSans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0 0 1em 0;
  text-align: left;
  -epub-hyphens: none;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 150%;
  letter-spacing: 1px;
  margin: 2em 0 0;
}

h6 {
  font-size: 0.875em;
}

p {
  line-height: 1.4;
  -epub-hyphens: none;
}

ul,
ol {
  padding-left: 1.5em;
}

li {
  margin: 0.8em 0;
}

em {
  font-style: italic;
}

strong {
  font-style: bold;
}

figcaption,
.figcaption {
  display: block;
  margin-top: 10px;
  font-size: 0.9rem;
}

hr {
  border: none;
  height: 1px;
  background-color: #282828;
  width: 60px;
  margin: 30px auto;
}

.break {
  page-break-before: always;
}

.break-before {
  break-before: column;
}

.break-after {
  break-after: column;
}

.group {
  page-break-inside: avoid;
}

/*============================================================================*/

.chapter-body {
  -webkit-font-feature-settings: "kern", "liga", "onum", "pnum", "smcp";
  -moz-font-feature-settings: "kern", "liga", "onum", "pnum", "smcp";
  -ms-font-feature-settings: "kern", "liga", "onum", "pnum", "smcp";
  font-feature-settings: "kern", "liga", "onum", "pnum", "smcp";
  font-family: "Merriweather", serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.6;
}

.chapter-body h2, .chapter-body h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.125rem;
}

.chapter-body p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  text-indent: 2rem;
}

.chapter-body h2 + p, .chapter-body h3 + p { text-indent: 0; }
.chapter-body > p:first-of-type { text-indent: 0; }

.chapter-body blockquote > * {
  text-indent: 0px;
  padding-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-style: italic;
}
