# Basic EditorConfig File
# Add this to project root and supported editors (sublime, atom, etc)
# will honor text formatting settings - indentation depth, spaces/tabs, etc.
# -----------------------

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false
