.cover {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);

  background-color: tint($light-gray, 30%);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  margin-bottom: $base-spacing;
  padding: $small-spacing;

  .page-title,
  .page-author {
    text-align: center;
  }
}
