// Utility Classes
// -----------------------------------------------------------------------------
.ctr {
  text-align: center;
}

.smcaps {
  @include font-feature-settings("c2sc", "smcp", "kern");
  font-variant: all-small-caps;
}

.mobile-hide {
  @include media($small-screen) { display: none; }
}

.force-wrap {
  @include prefixer(hyphens, auto, webkit moz ms spec);
  overflow-wrap: break-word;
  // word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

// Global styles
// -----------------------------------------------------------------------------
html { min-height: 100vh; }

.container {
  @include outer-container;
  padding: 0 $small-spacing;
  @include media($large-screen-up) { padding: 0; }
}

%body-text {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  @include text-size(1.0675);
  @include media($medium-screen-up) { @include text-size(1.125); }
  @include media($large-screen-up) { @include text-size(1.25); }
}
